const firebaseConfig = {
    apiKey: "AIzaSyDQLmHTC638TqO3jF4pbTPalUqz5k91Bkw",
    authDomain: "budget-tracker-42c28.firebaseapp.com",
    projectId: "budget-tracker-42c28",
    storageBucket: "budget-tracker-42c28.firebasestorage.app",
    messagingSenderId: "679151709021",
    appId: "1:679151709021:web:35cbce2ffcd9f1a97316b4",
    measurementId: "G-T9P99HWDM9"
  };


firebase login
firebase init
firebase deploy